<html>

<head>
    <title>Add Article</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
    <script src="/js/addScript.js"></script>
</head>

<body>
    <%- include('./header') %>


    <div class="alert-danger" , id="error-group" , style="display: none">
        <ul id="ul_errors"></ul>
    </div>

    <div class="container" style="padding: 25px 50px 75px 0px ;">
        <h1><%= title %> </h1>
        <form>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" placeholder="Title" id="title" name="title" required>
            </div>
            <!-- <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" placeholder="Author" id="author" name="author" required>
            </div> -->
            <div class="form-group">
                <label for="Body">Body</label>
                <textarea class="form-control" placeholder="Body" id="body" name="body"></textarea>
            </div>
            <button type="button" class="btn btn-primary" id="add-btn">Add</button>
            <button type="reset" class="btn btn-primary">Clear</button>
        </form>
        <hr>
        <strong>Copyright &COPY; 2020</strong>
    </div>
</body>

</html>