<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body bgcolor="black">
    <h1 style="color: aliceblue;">This is a bad request</h1><br>
    <h2 style="color: red;">Click here to return to the <a href="/"> Home page </a> </h2>
</body>

</html>