<html>

<head>
    <title>Users Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
</head>

<body>
    <%- include('./header') %>

    <!-- Call the message template -->
    <%-messages('message2', locals) %>


    <div class="container" style="padding: 25px 50px 75px 0px ;">
        <h1>User Registration </h1>
        <form method="POST" action="/users/registration">
            <div class="form-group">
                <label for="fullname">Full Name</label>
                <input type="text" class="form-control" placeholder="Full Name" id="fullname" name="fullname" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" placeholder="Email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="User Name">User Name</label>
                <input type="text" class="form-control" placeholder="User Name" id="username" name="username" required>

                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" class="form-control" placeholder="Password" id="password" name="password">
                </div>
                <div class="form-group">
                    <label for="Confirm">Confirm</label>
                    <input type="password" class="form-control" placeholder="Confirm" id="password2" name="password2">
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
                <button type="reset" class="btn btn-primary">Clear</button>
        </form>

        <hr>
        <strong>Copyright &COPY; 2020</strong>
    </div>




</body>

</html>